<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="/quick-start-guide/">
                            
                            <img class="featured-box-img-cover" src="/assets/images/12.jpg">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a class="text-dark" href="/quick-start-guide/">Let's test spoilers</a>
                                
                            </h2>

                            <h4 class="card-text">Director Roland Suso Richter’s enigmatic psychological thriller (direct to video/DVD) was based upon screenwriter Michael Cooney’s own play “Point of Death” - a title that...</h4>
                        </div>
                        <div class="card-footer b-0 bg-white mt-auto">
                            <div class="wrapfooter">
                                
                                <span class="meta-footer-thumb">
                                
                                <img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&d=mm&r=x" alt="Sal">
                                
                                </span>
                                <span class="author-meta">
                                <span class="post-name"><a target="_blank" href="https://www.wowthemes.net">Sal</a></span><br/>
                                
                                <span class="post-date">11 Jan 2018</span>
                                </span>
                                <span class="post-read-more"><a href="//quick-start-guide/" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->

        

    

        

            <!-- begin post -->

<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="/customer-service/">
                            
                            <img class="featured-box-img-cover" src="/assets/images/11.jpg">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a class="text-dark" href="/customer-service/">Inception Movie</a>
                                
                                <div class="mb-2 mt-2 font-weight-normal">
                                <div class="rating-holder">
<div class="c-rating c-rating--regular" data-rating-value="4.5">
  <button>1</button>
  <button>2</button>
  <button>3</button>
  <button>4</button>
  <button>5</button>
</div>
</div>
                                </div>
                                
                            </h2>

                            <h4 class="card-text">Review products, books, movies, restaurant and anything you like on your Jekyll blog with Mediumish! JSON-LD ready for review property.

</h4>
                        </div>
                        <div class="card-footer b-0 bg-white mt-auto">
                            <div class="wrapfooter">
                                
                                <span class="meta-footer-thumb">
                                
                                <img class="author-thumb" src="/assets/images/avatar.png" alt="John">
                                
                                </span>
                                <span class="author-meta">
                                <span class="post-name"><a target="_blank" href="https://www.wowthemes.net">John</a></span><br/>
                                
                                <span class="post-date">11 Jan 2018</span>
                                </span>
                                <span class="post-read-more"><a href="//customer-service/" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 mb-30px">
    <div class="listfeaturedtag h-100">
        <div class="row h-100">
            <div class="col-12 col-md-12 col-lg-5 pr-lg-0">
                <div class="h-100">
                    <div class="wrapthumbnail">
                        <a href="/customer-service/">
                            
                            <img class="featured-box-img-cover" src="/assets/images/11.jpg">
                            
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-7">
                <div class="h-100 card-group">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <a class="text-dark" href="/customer-service/">Inception Movie</a>
                                
                                <div class="mb-2 mt-2 font-weight-normal">
                                <div class="rating-holder">
<div class="c-rating c-rating--regular" data-rating-value="4.5">
  <button>1</button>
  <button>2</button>
  <button>3</button>
  <button>4</button>
  <button>5</button>
</div>
</div>
                                </div>
                                
                            </h2>

                            <h4 class="card-text">Review products, books, movies, restaurant and anything you like on your Jekyll blog with Mediumish! JSON-LD ready for review property.

</h4>
                        </div>
                        <div class="card-footer b-0 bg-white mt-auto">
                            <div class="wrapfooter">
                                
                                <span class="meta-footer-thumb">
                                
                                <img class="author-thumb" src="/assets/images/avatar.png" alt="John">
                                
                                </span>
                                <span class="author-meta">
                                <span class="post-name"><a target="_blank" href="https://www.wowthemes.net">John</a></span><br/>
                                
                                <span class="post-date">11 Jan 2018</span>
                                </span>
                                <span class="post-read-more"><a href="//customer-service/" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>