---
layout: default
---


<section>
    <div style="color: white;  font-family: ff-enzo-web, sans-serif !important;" class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div style="color: white;  font-family: ff-enzo-web, sans-serif !important; " class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>

    {% endif %}
</section>
